{
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "tailwindFunctions": ["clsx"],
  "importOrder": ["^@core/(.*)$", "^@ui/(.*)$", "^[./]"]
}
